<h3>Текст задания:</h3>
<p>Дано натуральное число n. Написать программу, определяющую, есть
  ли среди чисел n, n + 1, n + 2, . . . 2n близнецы, то есть простые числа,
  разность между которыми равна 2. Например, 11 и 13, 17 и 19. Вывести
  на печать все обнаруженные пары, а если таких пар нет, то соответству-
  ющее сообщение. Для определения близнецов и их наличия использовать
  функции.</p>

<h3>Страница для ввода</h3>
<%= form_tag("/manager/output", :method => "get") do %>
  <%= label_tag("Number to check:") %>
  <%= text_field_tag(:number) %>
  <br/>
  <%= submit_tag("Output result") %>
<% end %>

<%= link_to 'Выйти', session_logout_path %>